body {
    background-color: #333;
    color: #fff;
    text-align: center;
}
.styled {
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-inline: auto;
}